<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="false"/>
  <param name="robot_description" textfile="$(find cr_mit)/URDF/00_spuitkop/urdf/00_spuitkop.URDF"/>
  <param name="elbow_description" textfile="$(find cr_mit)/URDF/90elbow/urdf/90elbow.URDF"/>

  <!-- Run RViz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find cr_mit)/config/rviz/cr_test_urdf.rviz" />

  <!-- Run algorithms -->
  <node pkg="cr_mit" type="marker_viz" name="Marker_visualisation" output="screen" />
  <node pkg="cr_mit" type="spuit_control" name="Spuit_control_visualisation" output="screen"/>

</launch>
